#### Dependencies

In [1]:
import pandas as pd

#### Read in csv files

In [2]:
csvpath1 = "data/hawaii_measurements.csv"
csvpath2 = "data/hawaii_stations.csv"

measurements_df = pd.read_csv(csvpath1)
stations_df = pd.read_csv(csvpath2)

#### Inspect dataframes

In [3]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
station      9 non-null object
name         9 non-null object
latitude     9 non-null float64
longitude    9 non-null float64
elevation    9 non-null float64
dtypes: float64(3), object(2)
memory usage: 440.0+ bytes

In [4]:
measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB

In [5]:
stations_df.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
measurements_df.head(30)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
4   USC00519397  2010-01-06   NaN    73
5   USC00519397  2010-01-07  0.06    70
6   USC00519397  2010-01-08  0.00    64
7   USC00519397  2010-01-09  0.00    68
8   USC00519397  2010-01-10  0.00    73
9   USC00519397  2010-01-11  0.01    64
10  USC00519397  2010-01-12  0.00    61
11  USC00519397  2010-01-14  0.00    66
12  USC00519397  2010-01-15  0.00    65
13  USC00519397  2010-01-16  0.00    68
14  USC00519397  2010-01-17  0.00    64
15  USC00519397  2010-01-18  0.00    72
16  USC00519397  2010-01-19  0.00    66
17  USC00519397  2010-01-20  0.00    66
18  USC00519397  2010-01-21  0.00    69
19  USC00519397  2010-01-22  0.00    67
20  USC00519397  2010-01-23  0.00    67
21  USC00519397  2010-01-24  0.01    71
22  USC00519397  2010-01-25  0.00    67
23  USC00519397  2010-01-26  0.04    76
24  USC00519397  2010-01-27  0.12    68
25  USC00519397  2010-01-28  0.00    72
26  USC00519397  2010-01-30   NaN    70
27  USC00519397  2010-01-31  0.03    67
28  USC00519397  2010-02-01  0.01    66
29  USC00519397  2010-02-03   NaN    67

#### Decided to drop the NaN rows rather than replace the NaN's with 0's in order to preserve accurate temperature

In [7]:
clean_measurements_df = measurements_df.dropna()

In [8]:
clean_measurements_df.head(30)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
5   USC00519397  2010-01-07  0.06    70
6   USC00519397  2010-01-08  0.00    64
7   USC00519397  2010-01-09  0.00    68
8   USC00519397  2010-01-10  0.00    73
9   USC00519397  2010-01-11  0.01    64
10  USC00519397  2010-01-12  0.00    61
11  USC00519397  2010-01-14  0.00    66
12  USC00519397  2010-01-15  0.00    65
13  USC00519397  2010-01-16  0.00    68
14  USC00519397  2010-01-17  0.00    64
15  USC00519397  2010-01-18  0.00    72
16  USC00519397  2010-01-19  0.00    66
17  USC00519397  2010-01-20  0.00    66
18  USC00519397  2010-01-21  0.00    69
19  USC00519397  2010-01-22  0.00    67
20  USC00519397  2010-01-23  0.00    67
21  USC00519397  2010-01-24  0.01    71
22  USC00519397  2010-01-25  0.00    67
23  USC00519397  2010-01-26  0.04    76
24  USC00519397  2010-01-27  0.12    68
25  USC00519397  2010-01-28  0.00    72
27  USC00519397  2010-01-31  0.03    67
28  USC00519397  2010-02-01  0.01    66
30  USC00519397  2010-02-04  0.01    69
31  USC00519397  2010-02-05  0.00    67
32  USC00519397  2010-02-06  0.00    67

In [9]:
clean_measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18103 entries, 0 to 19549
Data columns (total 4 columns):
station    18103 non-null object
date       18103 non-null object
prcp       18103 non-null float64
tobs       18103 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 707.1+ KB

In [10]:
clean_measurements_df.to_csv('output/clean_hawaii_measurements.csv')
stations_df.to_csv('output/clean_hawaii_stations.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'output/clean_hawaii_measurements.csv'